.page {
    background-color: grey;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Inter', Arial, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}