.element__title {
    position: absolute;
    top: 50%;
    left: 5%;
    color: #ffffff;
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 56px;
    margin: 0;
    text-shadow: black 1px 3px 10px;
}