.element__subtitle {
    position: absolute;
    top: 68%;
    left: 5%;
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    margin: 0;
    text-shadow: black 1px 3px 10px;
}