.header__link {
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.header__link:hover {
    transition: 1s;
    color: lawngreen;
}

.header__link:not(:hover) {
    transition: 1s;
}