.element__image {
    width: 100%;
    position: relative;
    opacity: 1;
    min-height: 320px;
    display: block;
    transition: 1s;
}

.element__image:hover {
    transform: scale(1.1);
    cursor: pointer;
}