.header__subtitle {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 32px auto;
    width: 30%;
    position: relative;
    text-shadow: black 1px 5px 5px;
}