/* normalize */ 

@import url(../vendor/normalize.css);


/* fonts */

@import url(../vendor/fonts.css);


/* page */

@import url(../blocks/page/page.css);


/* header */

@import url(../blocks/header/header.css);
@import url(../blocks/header/__overlay/header__overlay.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__link/header__link.css);

/* profile */

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__picture/profile__picture.css);


/* info */ 

@import url(../blocks/info/info.css);
@import url(../blocks/info/__title/info__title.css);
@import url(../blocks/info/__text/info__text.css);


/* footer */

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__line-links/footer__line-links.css);
@import url(../blocks/footer/__line/footer__line.css);
@import url(../blocks/footer/__link/footer__link.css);