.element {
    margin: 0;
    list-style: none;
    width: 390px;
    position: relative;
    transition: 1s;
    display: inline-block;
    overflow: hidden;
    box-shadow: 1px 1px 15px 3px;
}

.element:hover {
    transition: 1s;
    opacity: 0.7;
}