.header__title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 86%;
    margin: 0 auto;
    width: 65%;
    position: relative;
    text-shadow: black 1px 5px 5px;
}